*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  max-width: 50rem;
  /* height: 80vh; */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.game-name {
  text-align: center;
  font-size: 2rem;
}

.game-container {
  background-color: red;
  width: 100%;
  /* height: 80%; */
}

.button-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.button-container > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem;
}
.button-container > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.range {
  text-align: center;
}

.number {
  text-align: center;
  height: 4rem;
  /* margin: auto; */
  /* font-size: 4rem;
  background-color: white;
  width: 6rem;
  padding: 1rem; */
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.guess {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  font-size: 2rem;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  display: block;
}

.left {
  flex: 1;
  padding: 1rem;
}
.right {
  flex: 1;
  padding: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.btn:hover {
  background-color: #ccc;
}

.dice {
  height: 50px;
  width: 50px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-btn {
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 20px;
}
.control-btn:hover {
  background-color: #ccc;
}
.player-active {
  background-color: rgba(255, 255, 255, 0.4);
}

.winner {
  background-color: rgba(71, 230, 124, 0.4);
}
