/*
=====
Variable
=====
*/
:root {
  --color-primary-light: lightgray;
  --color-primary-dark: gray;
  --color-highlight: orange;
  --color-accent: white;
  --ff-primary: sans-serif;
  --ff-secondary: serif;
}

/*
=====
Global styles
=====
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--color-primary-light);
  color: var(--color-primary-dark);
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.85rem;
}
p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1.25rem;
  }
}

/* section */
.section {
  padding-bottom: 5rem;
  min-height: 100vh;
  // display: flex;
}
a:hover {
  color: var(--color-highlight);
}
.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  // margin-bottom: 2rem;
  z-index: 10;
  width: 100%;
  background-color: var(--color-accent);
  padding: 1rem;
  text-transform: capitalize;
  color: var(--color-primary-dark) !important;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .navigation {
    position: fixed;
    top: -1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // margin-bottom: 2rem;
    z-index: 10;
    width: 100%;
    background-color: var(--color-accent);
    // padding: 1rem;
    text-transform: capitalize;
    color: var(--color-primary-dark) !important;
    text-align: center;
    height: 5rem;
    .menu-icon {
      font-size: 0rem;
      color: var(--color-primary-dark);
      padding: 0 4rem;
      // width: 2rem;
      // height: 2rem;
      visibility: hidden;
    }
  }
  .nav-link p {
    margin: 0;
    font-size: 1.25rem;
    color: var(--color-primary-dark);
  }
  .nav-link p:hover {
    color: var(--color-highlight);
  }
}
.menu-icon {
  font-size: 1.5rem;
  color: var(--color-primary-dark);
  // width: 2rem;
  // height: 2rem;
}
.nav-link p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--color-primary-dark);
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../images/code.jpg) center/cover no-repeat;
  padding-top: 10rem;
  padding-left: 5rem;
  p {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-accent);
    span {
      font-weight: bold;
      font-size: 2.5rem;
      color: var(--color-highlight);
    }
  }
}
@media screen and (min-width: 800px) {
  .header {
    padding-top: 15rem;
    padding-left: 20rem;
    p {
      font-size: 3.5rem;
      line-height: 3rem;
      color: var(--color-accent);
      span {
        font-weight: bold;
        font-size: 4rem;
        color: var(--color-highlight);
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  font-size: 0.75rem;
  p {
    margin: 0;
    display: block;
  }
}

.underline {
  margin: 0 auto;
  height: 0.25rem;
  background-color: var(--color-primary-dark);
  max-width: 50%;
}

.links a {
  text-transform: capitalize;
  font-size: 1.1rem;
  display: block;
  font-weight: bold;
  padding: 1rem 0;
  background-color: var(--color-accent);
  color: gray;
}
.section-title {
  h2 {
    text-align: center;
    padding-top: 5rem;
  }
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 5rem;
  align-content: center;
  justify-content: center;
  margin: auto;
}
@media screen and (min-width: 800px) {
  .section-container {
    flex-direction: row;
    width: 80%;
  }
}

.technology-item {
  // flex: 33%;
  margin: auto;
  padding: 2rem;
  flex-basis: 25%;
  img {
    width: 10rem;
    height: 10rem;
    display: block;
    background: center/cover;
    margin: auto;
  }
  p {
    text-align: center;
    padding-top: 1rem;
  }
}

.contact {
  .section-container {
    a {
      display: block !important;
      color: var(--color-primary-dark);
      text-align: center;
      margin-bottom: 2rem;
      padding: 1rem;
      p {
        i {
          display: block;
          padding-bottom: 1rem;
        }
      }
      :hover,
      :hover p {
        color: var(--color-highlight);
        scale: 1.05;
        transition: all 1s ease-in-out;
      }
    }
  }
}

.project-container {
  max-width: 18rem;
  padding: 1.5rem;
  margin: 0.75rem;
  background-color: #dcdcdc;
  img {
    display: block;
    width: 15rem;
    margin-bottom: 1rem;
    filter: grayscale(100%);
  }
  .project-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.25rem;
    color: darkorange;
  }
  .project-description {
    font-size: 1rem;
  }
  a {
    color: var(--color-highlight);
    font-size: 1rem;
    display: block;
    padding: 0.5rem 0;
  }
  a:hover {
    text-decoration: underline;
  }
}
.project-container:hover {
  background-color: var(--color-accent);
  scale: 1.05;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in-out;
  img {
    transition: all 1s ease-in-out;
    filter: grayscale(0);
  }
}
.project-technology-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.individual-technology {
  display: inline-block;
  text-align: center;
  margin: auto;
  p {
    font-size: 0.75rem;
  }
  min-width: 25%;
}
.social-links a p {
  font-size: 1rem;
  line-height: 0.5rem;
  display: inline-block;
  padding-right: 1rem;
}
@media screen and (min-width: 800px) {
  .social-links a p {
    font-size: 1.5rem;
    line-height: 0.75rem;
    padding-right: 2rem;
  }
}
.social-links a:hover p {
  color: var(--color-highlight);
  scale: 1.05;
  transition: all 1s ease-in-out;
}
.individual-technology:hover {
  color: orange;
}
.project-link:hover {
  .fa-arrow-right {
    transform: translate(5px, 0);
  }
}

.section-container .technology-item:hover {
  transform: translate(0, -2.5rem);
  transition: all 1s ease-in-out;
}
